<div class="row">
  <div class="col-md-8">
    <md-card class="product-info">
      <md-card-content>
        <h2>{{$ctrl.product.name}}</h2>
        <p>The new iPhone is again packed with innovations in a distinctive timeless design. It's waterproof and battery life.</p>
        <hr>
        <div ng-repeat="(key, val) in $ctrl.product.customizations" class="col-md-6">
          <picker onselect="$ctrl.chooseOption(key,opt)" type="key" options="val"></picker>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div class="col-md-4">
    <md-card class="app-product">
      <div class="img-wrapper product-wrapper">
        <img ng-src="{{$ctrl.product.image}}" class="img-responsive md-image-no-fill md-card-image" style="width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;    height: 420px; margin: auto;" alt="image caption">
      </div>
      <md-card-content layout="row" layout-align="center">
        <span class="md-subhead">{{$ctrl.product.price}} {{$ctrl.currency | currency}}</span>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center">
        <md-button ng-click="$ctrl.cart()" class="md-raised md-primary">BUY NOW</md-button>

      </md-card-actions>

    </md-card>
  </div>





</div>